//baseStyles
@use "./variables" as *;


html {
  font-size: 125%;
  background-color: $black;
}

p {
  color: $primaryColor;
  line-height: 2rem;
  border: 1px solid $primaryColor;
}

a {
  color: $secondaryColor;
  text-decoration: none;
  &:hover,
  &:focus {
    color: $primaryColor;
  }
}

h2 {
  color: $secondaryColor;
}

h3 {
  color: $white;
  padding: .23rem;
}

.App {
  max-width: 80%;
  text-align: center;
  background-color: $black;
  margin: 0 auto;
  padding: 2rem;
  font-family: $font;
}

button,
input {
  font-size: 100%;
}