//baseStyles
@use "./variables" as *;


html {
  font-size: 125%;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  color: $primaryColor;
  line-height: 1rem;
  padding-top: .75rem;
}

a {
  color: $secondaryColor;
  text-decoration: none;
  &:hover,
  &:focus {
    color: $primaryColor;
  }
}

h2 {
  color: $secondaryColor;
}

h3, 
h4 {
  color: $white;
  padding: .23rem;
}

.App {
  max-width: 80%;
  text-align: center;
  margin: 0 auto;
  padding: 2rem;
  font-family: $font;
}

button,
input {
  font-size: 100%;
}

button {
  border: 2px solid $white;
  color: $white;
  background-color: $tertiaryColor;
  margin: 0 auto;
  padding: .5rem;
  border-radius: 10px;
  &:hover,
  &:focus {
    background-color: $white;
    color: $tertiaryColor;
    border: 2px solid $tertiaryColor;
    transition: .15s;
  }
}

.darkMode {
  background-color: $black;

  .storedThoughts li {
    background-color: black;
  }
}

.lightMode {
  background-color: rgb(208, 168, 230);

  h1,
  p {
    color: $black;
  }

  .storedThoughts li {
    background-color: $tertiaryColor;
  }

  a {
    color: $tertiaryColor;
    text-decoration: none;
    font-weight: bold;

    &:hover,
    &:focus {
      color: $quaternaryColor;
    }
  }
}
footer {
  text-align: center;
  padding-top: .5rem;
}