//header
@use "./variables" as *;

header {
  margin: 20% auto 0 auto;
  color: $primaryColor;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  h1 {
    padding: 1rem;
    margin: 1rem auto;
  }
  .time {
    border: 1px solid $primaryColor;
    max-width: 20%;
    font-size: .75rem;
    padding: 1rem;

    p {
      border: none;
      color: $secondaryColor;
    }
  }
}