//header
@use "./variables" as *;

header {
  margin: 20% auto 0 auto;
  color: $primaryColor;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 80%;
  h1 {
    padding: 1rem;
    margin: 1rem auto;
  }
  .imgContainer {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
      max-width: 300px;
    }
  }
}