@use "./variables" as *;

@media (max-width: 1100px) {
  html {
    font-size: 90%;
  }
  header {
    margin-top: 50%;
  }
  .thoughtForm {
    max-width: 100%;
    .Container {
      padding: 2rem;
      label {
        font-size: 1.25rem;
      }
      p {
        font-size: 1rem;
        width: 100%;
      }
    }
  }
}

@media (max-width: 610px) {
  html {
    font-size: 60%;
  }
  .storedThoughts ul li {
    width: 100%;
  }
}

@media (max-width: 300px) {
  html {
    font-size: 40%;
  }
}