@use "./variables" as *;

@media (max-width: 850px) {
  html {
    font-size: 90%;
  }
}

@media (max-width: 610px) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 300px) {
  html {
    font-size: 40%;
  }
}