@use "./variables" as *;

  .help {
    text-align: left;
    max-width: 80%;
      button {
          border: 2px solid $white;
          color: $white;
          background-color: $tertiaryColor;
          margin: 0 auto;
          padding: .5rem;
          border-radius: 10px;
          &:hover,
          &:focus {
            background-color: $black;
            border: 2px solid $tertiaryColor;
          }
        }
  }