@use "./variables" as *;

  .help {
    text-align: left;
    position: absolute;
    max-width: 80%;
    p {
      color: $white;
      border: none;
      font-size: .9rem;
      margin-left: 1.5rem;
    }
    button {
      &:hover,
      &:focus {
        cursor: help;
      }
    }
  }
