//storedThoughts
@use "./variables" as *;

.storedThoughts {
  button {
    border: 1px solid $quaternaryColor;
    background-color: $black;
    color: $white;
    &:hover,
    &:focus {
      background-color: $quaternaryColor;
      color: $black;
      cursor: pointer;
    }
  }
  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;
      border: 1px solid $primaryColor;
      border-radius: 5px;
      padding: .5rem .1rem;
      margin: .5rem 1rem;
      width: 30%;
      background-color: $black;
      &:hover,
      &:focus {
        box-shadow: .1rem .1rem 1rem $white;
        cursor: crosshair;
        transition: .2s;
        border: 1px solid $secondaryColor;
      }
      h3 {
        color: $secondaryColor;
        padding: 1rem;
        margin: .5rem auto;
      }
    }
  }
  p {
    color: $white;
    font-size: .6rem;
  }
  .favCount {
  color: $white;
  padding: .5rem;
}
}
