//storedThoughts
@use "./variables" as *;

.storedThoughts {
  margin: 3rem auto;
  button {
    border: 1px solid $quaternaryColor;
    background-color: $black;
    color: $white;
    margin: .5rem;
    &:hover,
    &:focus {
      background-color: $secondaryColor;
      color: $black;
      cursor: pointer;
    }
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
  }
  p {
    color: $white;
    font-size: .6rem;
  }
  li {
    border: 2px solid $primaryColor;
    border-radius: 30px;
    padding: .5rem .5rem;
    margin: .5rem .5rem;
    width: 30vw;
    background-color: $black;

    &:hover,
    &:focus {
      box-shadow: .1rem .1rem 1rem $white;
      cursor: crosshair;
      transition: .2s;
      border: 1px solid $secondaryColor;
    }

    h3,
    h4 {
      color: $secondaryColor;
      padding: 1rem;
      margin: .5rem auto;
    }
  }
  .wildcard {
    font-style: italic;
    text-transform: uppercase;
  }
}
