@use "./variables" as *;

.thoughtForm {
  border: 5px solid $tertiaryColor;
  padding: 1rem 0;
  input {
    width: 50%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: 1px solid $tertiaryColor;
    border-radius: 5px;
  }
  button {
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: 1px solid $white;
    border-radius: 5px;
    background-color: $tertiaryColor;
    color: $white;
    &:hover,
    &:focus {
      background-color: $white;
      color: $tertiaryColor;
    }
  }
}
