//variables
//colors
$primaryColor: hotpink;
$secondaryColor: rgb(175, 233, 246);
$tertiaryColor: rebeccaPurple;
$quaternaryColor: rgb(0, 89, 255);

$white: #fff;
$black: #000;

//fonts
$font: 'Georgia', serif;