//variables
//colors
$primaryColor: rgb(239, 178, 208);
$secondaryColor: rgb(235, 234, 231);
$tertiaryColor: rebeccaPurple;
$quaternaryColor: rgb(33, 106, 241);

$white: #fff;
$black: rgb(34, 33, 33);

//fonts
$font: 'Georgia', serif;
$brandFont: 'Comic Sans MS', Comic Sans, cursive;