html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
  background-color: #000;
}

p {
  color: hotpink;
  line-height: 1rem;
  padding-top: 0.75rem;
}

a {
  color: rgb(175, 233, 246);
  text-decoration: none;
}
a:hover, a:focus {
  color: hotpink;
}

h2 {
  color: rgb(175, 233, 246);
}

h3 {
  color: #fff;
  padding: 0.23rem;
}

.App {
  max-width: 80%;
  text-align: center;
  background-color: #000;
  margin: 0 auto;
  padding: 2rem;
  font-family: "Georgia", serif;
}

button,
input {
  font-size: 100%;
}

button {
  border: 2px solid #fff;
  color: #fff;
  background-color: rebeccaPurple;
  margin: 0 auto;
  padding: 0.5rem;
  border-radius: 10px;
}
button:hover, button:focus {
  background-color: #fff;
  color: rebeccaPurple;
  border: 2px solid rebeccaPurple;
  transition: 0.15s;
}

.help {
  text-align: left;
  position: absolute;
  max-width: 80%;
}
.help p {
  color: #fff;
  border: none;
  font-size: 0.9rem;
  margin-left: 1.5rem;
}
.help button:hover, .help button:focus {
  cursor: help;
}

header {
  margin: 15% auto 0 auto;
  color: hotpink;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 80%;
}
header h1 {
  padding: 1rem;
  margin: 1rem auto;
}
header .imgContainer {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .imgContainer img {
  width: 100%;
  max-width: 300px;
}

.storedThoughts button {
  border: 1px solid red;
  background-color: #000;
  color: #fff;
}
.storedThoughts button:hover, .storedThoughts button:focus {
  background-color: red;
  color: #000;
  cursor: pointer;
}
.storedThoughts ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.storedThoughts ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid hotpink;
  border-radius: 5px;
  padding: 0.5rem 0.1rem;
  margin: 0.5rem 1rem;
  width: 30%;
  background-color: #000;
}
.storedThoughts ul li:hover, .storedThoughts ul li:focus {
  box-shadow: 0.1rem 0.1rem 1rem #fff;
  cursor: crosshair;
  transition: 0.2s;
  border: 1px solid rgb(175, 233, 246);
}
.storedThoughts ul li h3 {
  color: rgb(175, 233, 246);
  padding: 1rem;
  margin: 0.5rem auto;
}
.storedThoughts p {
  color: #fff;
  font-size: 0.6rem;
}
.storedThoughts .favCount {
  color: #fff;
  padding: 0.5rem;
}

.thoughtForm {
  padding: 1rem 0;
  max-width: 60%;
  margin: 0 auto;
}
.thoughtForm .Container {
  width: 100%;
  border: 10px solid #fff;
  border-radius: 30px;
  padding: 5rem;
}
.thoughtForm .Container label {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
}
.thoughtForm .Container p {
  font-size: 1.25rem;
  font-weight: 600;
  color: #fff;
  line-height: 1.75rem;
  width: 80%;
  margin: 0 auto;
}
.thoughtForm input {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: 1px solid rebeccaPurple;
  border-radius: 5px;
}
.thoughtForm button {
  padding: 0.5rem;
  margin: 0.5rem;
  border: 1px solid #fff;
  border-radius: 14px;
  background-color: #000;
  color: #fff;
}
.thoughtForm button:hover, .thoughtForm button:focus {
  background-color: #fff;
  color: #000;
}

@media (max-width: 1100px) {
  html {
    font-size: 90%;
  }
  .thoughtForm {
    max-width: 100%;
  }
  .thoughtForm .Container {
    padding: 2rem;
  }
  .thoughtForm .Container label {
    font-size: 1.25rem;
  }
  .thoughtForm .Container p {
    font-size: 1rem;
    width: 100%;
  }
}
@media (max-width: 610px) {
  html {
    font-size: 60%;
  }
}
@media (max-width: 300px) {
  html {
    font-size: 40%;
  }
}